@model Domain.ExerciseInWorkout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExerciseInWorkout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.ExerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise.ExerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workout.WorkoutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workout.WorkoutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tracked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repetitions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAtDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAtDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAtDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedAtDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseInWorkoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
