@model Domain.Plan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanDescription.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDescription.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanInstructions.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanInstructions.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanName.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanName.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanType.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanType.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAtDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAtDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAtDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedAtDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
