@model Web.Areas.Admin.ViewModels.PlanIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plans.FirstOrDefault().PlanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plans.FirstOrDefault().PlanDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plans.FirstOrDefault().PlanInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plans.FirstOrDefault().PlanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plans.FirstOrDefault().Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Plans) {
    <tr>
        <td>
            @item.PlanName
        </td>
        <td>
            @item.PlanDescription.Translate()
        </td>
        <td>
            @item.PlanInstructions.Translate()
        </td>
        <td>
            @item.PlanType.PlanTypeName.Translate()
        </td>
        <td>
            @item.Rating
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.PlanId}) |
            @Html.ActionLink("Details", "Details", new {id = item.PlanId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.PlanId})
        </td>
    </tr>
}

</table>
