@using HtmlHelpers
@model Web.ViewModels.WorkoutCreateEditViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Workout.WorkoutName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.WorkoutName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Workout.WorkoutName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Workout.PlanId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Workout.PlanId, Model.PlansSelectList, "-- Select --", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Workout.PlanId, "", new { @class = "text-danger" })
    </div>
</div>

<div>
    <p>Sisesta lahtritesse soovitud harjutused. Vali seeriate arv.</p>
    <table class="table">
        <tbody>
        <tr>
            <td>Harjutuse nimi</td>
            <td>--- Siia saab sisestada harjutuse nime ---</td>
        </tr>
        <tr>
            <td>Seeriate arv</td>
            <td>--- DropDownList seeriate arvu valikuks ---</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
        <tr>
            <td>Harjutuse nimi</td>
            <td>--- Siia saab sisestada harjutuse nime ---</td>
        </tr>
        <tr>
            <td>Seeriate arv</td>
            <td>--- DropDownList seeriate arvu valikuks ---</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <td>Harjutuse nimi</td>
                <td>--- Siia saab sisestada harjutuse nime ---</td>
            </tr>
            <tr>
                <td>Seeriate arv</td>
                <td>--- DropDownList seeriate arvu valikuks ---</td>
            </tr>
        </tbody>
    </table>
</div>


@*<div class="form-group">
    @Html.LabelFor(model => model.Exercise.ExerciseId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Exercise.ExerciseId, Model.ExercisesSelectList, "-- Select exercise --", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Exercise.ExerciseId, "", new { @class = "text-danger" })
    </div>
</div>*@
