@model Web.ViewModels.WorkoutIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Workouts.FirstOrDefault().WorkoutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workouts.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workouts.FirstOrDefault().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workouts.FirstOrDefault().EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Workouts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkoutName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkoutId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkoutId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkoutId })
        </td>
    </tr>
}

</table>
