@model Web.Areas.Admin.ViewModels.UserRoleInPlanIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleInPlans.FirstOrDefault().RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleInPlans.FirstOrDefault().CreatedAtDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleInPlans.FirstOrDefault().CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleInPlans.FirstOrDefault().ModifiedAtDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoleInPlans.FirstOrDefault().ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.UserRoleInPlans) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAtDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedAtDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRoleInPlanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRoleInPlanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRoleInPlanId })
        </td>
    </tr>
}

</table>
