@model Domain.PlanType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanTypeName.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanTypeName.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanTypeDescription.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanTypeDescription.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
