@model IEnumerable<Domain.PlanType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanTypeDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.PlanTypeName.Translate()
        </td>
        <td>
            @item.PlanTypeDescription.Translate()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.PlanTypeId}) |
            @Html.ActionLink("Details", "Details", new {id = item.PlanTypeId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.PlanTypeId})
        </td>
    </tr>
}

</table>
